decorator==4.3.0
dj-database-url==0.5.0
Django==1.11.6
django-appconf==1.0.2
django-compressor==2.2
django-contrib-comments==1.8.0
django-cors-headers==2.2.0
django-heroku==0.3.1
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.7
html5lib==1.0b10
idna==2.6
imutils==0.4.6
kiwisolver==1.0.1
Markdown==2.6.9
numpy==1.14.3
oauthlib==2.0.4
olefile==0.44
parso==0.2.0
pexpect==4.5.0
pickleshare==0.7.4
Pillow==9.3.0
pipenv==2018.7.1
prompt-toolkit==1.0.15
psycopg2==2.7.3.1
ptyprocess==0.5.2
Pygments==2.2.0
PyJWT==1.5.3
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2017.2
PyWavelets==0.5.2
rcssmin==1.0.6
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
simplegeneric==0.8.1
six==1.11.0
tables==3.4.3
traitlets==4.3.2
tzlocal==1.4
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==3.3.1
